body 
    {
        margin: 0;
        padding: 0;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-image: url('Telemedicine.png'); 
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        overflow: hidden; /* Hide scrollbars */
    }
.header 
    {
        display: flex;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.4); 
        padding: 10px;
        position: relative;
        z-index: 1;
    }
.logo 
    {
        width: 10%; 
        height: 10%;
        margin-right: 10px;
    }
.title-container 
    {
        text-align: center;
        margin-left: 450px;
    }
.main-title 
    {
        color: white;
        font-size: 30px;
    }
.sub-title 
    {
        color: white;
        font-size: 20px;
    }
    .menu-dropdown {
        position: absolute;
        top: 100%;
        right: 70px;
        transform: translateY(-50%);
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    .dropbtn {
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        border: none;
        padding: 10px 40px;
        font-size: 16px;
        cursor: pointer;
    }
    
    .dropbtn:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown-content a:hover {
        background-color: #f1f1f1;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
.content-box 
    {
        background-color: rgba(0, 0, 0, 0.4);
        color: white;
        padding: 20px;
        margin: 0;
        text-align: justify;
        font-size: 18px;
    }